/* Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);
////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto:wght@100;300;400;500;700&display=swap');

/* ------------ global --------------- */
h1, h2, h3 {
    font-family: 'Merriweather', serif;
}
text {
    font-family: 'Roboto', sans-serif;
}

/* ------------ navigation-------------*/


/* ------------ header -------------*/

header {
    background-color: #4845E4;
}
.header-title-inner-container {
    text-align: center;
}

/* ------------ introduction -------------*/


/* ------------ projects -------------*/


/* ------------ services -------------*/


/* ------------ form -------------*/


/* ------------ footer -------------*/


/* ------------------------------- Media Queries -------------------------------- */